@import './variables.scss';

@mixin theme-colors($dark-theme: true) {
	@if $dark-theme {
        color: $color;
		background-color: $dark-background;
		border-color: $dark-border;
	}
}
  
.btn {
	@include theme-colors($dark-theme: false);
	body.dark-mode & {
		@include theme-colors($dark-theme: true);
        &.btn-light{
            &.active{
                background-color: $cheked-background;
                border-color: $dark-border;
            }
            &:hover {
                background-color: $cheked-background;
                border-color: $dark-border;
            }
        }
	}
}

