@import './variables.scss';

body {
	background-color: $default-background;
	color: $default-color;
	b {
		color: $color-b;
	}
	nav{
		background-color: $default-nav-color;
		.nav-item{
			color: $default-color;
		}
	}
	
	.scrollTop {
		position: fixed;
		bottom: 50px;
		align-items: flex-end;
		height: 20px;
		justify-content: end;
		z-index: 1000;
		cursor: pointer;
		animation: fadeIn 0.3s;
		transition: opacity 0.4s;
		opacity: 0.5;
		right: 150px;
		&:hover {
			opacity: 1;
		}
	}
	.logo{
		display: block;
		margin: auto;
		mix-blend-mode: multiply;
		background-image: url('../logo_transparent.png');
		background-repeat: no-repeat;
		background-size: 100% 100%;
		width: 20%;
    	height: 130px;
	}
}