$default-background: white;
$default-color: black;
$default-nav-color: #dae0e5;
$color-b: red;
$dark-color-b: rgb(248, 64, 178);
$dark-background: #353535;
$dark-border: #212529;
$color: white;
$cheked-background: #4e4e4e;
$nigth-switcher: rgba(182, 182, 21, 0.767);
$dark-nav-color: $cheked-background;
$sun-switcher: $cheked-background;